# Application Settings
URL_PATH="bot"

# Telegram Settings
TG_BOT_TOKEN="username:token"

# Database Settings
DB_DRIVER="mysql"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD="password"
DB_DATABASE="mysql"

# SSL Settings
SSL_CERTIFICATE="fullchain.pem"
SSL_PRIVATE_KEY="privkey.pem"